<%- include("includes/head.ejs");%>
<body>
    <h3>This page belongs to <%=data.name%></h3>
    <button>Follow</button>
    <button>Message</button>
    <p> followers : <%= data.followers %>&nbsp;&nbsp;&nbsp;&nbsp; following : <%=data.following%>
    </p>
<hr/>
<% for(let post of data.posts){%>
    <img src="<%=post.image%>" alt="some img">
    <p>likes : <%=post.likes%> &nbsp;&nbsp;&nbsp;&nbsp; comments : <%=post.comments%>
    </p>
<%}%>
</body>
</html>